.main{
    .swipers {
        width: 100%;
        height: 412rpx;
    }

    .swiper {
        width: 100%;
        height: 100%;
        &.annual {
            background-color: #2b2b2b;
            color: white;
        }
        &.seasonal {
            background-color: #e2bc00;
            color: white;
        }
        &.times {
            background-color: #98CEF5;
            color: black;
        }
        &.guest {
            background-color: #e8e8e8;
            color: black;
        }
    }

    .cardType {
        font-size: 56px;
        padding: 40rpx 0 0 48rpx;
        font-family: 'Alibaba Puhui';
    }

    .cardInfo {
        font-size: 32px;
        padding: 100rpx 0 0 48rpx;
        font-family: 'Alibaba Puhui';
    }

    .checkIn {
        width: 400rpx;
        height: 400rpx;
        margin: 200rpx auto 0;
        font-size: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eaeaea;
        font-weight: 800;
        font-family: 'Alibaba Puhui';
        border-radius: 50%;
        box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, .3), 0 5px 20px rgba(0, 0, 0, .3);
        transition: all .1s linear;
        transition-property: translate box-shadow;
        &.checked {
            background-color: #920d0d;
            border: 60px solid #e94f4f;
        }
        &.unchecked {
            background-color: #0D4C92;
            border: 60px solid #4fa6e9;
        }
        &.unchecked:active {
            border-color: #98CEF5;
            box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, .3);
            transform: translateY(5px);
        }
    }
}